# binary files for each lab
lab1/lab1-[1-6]
lab2/lab2-[12347]
lab2/lab2-5-phong
lab2/lab2-5-gouraud
lab3/lab3-[1-4]
lab3/lab3-extra
lab4/lab4-[1-6]
lab4/lab4-6[a-g]

# vim swap files
*.swp

# emacs backup files
*~
